# macOS
.DS_Store
.AppleDouble
.LSOverride

# LaTeX 临时文件
.texpadtmp/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv

# 编译产物（如需追踪 PDF 请删除下面这行）
# *.pdf
